$red-bg: red;
$text-white: #fff;

// html,
// body {
//   position: relative;
//   height: 100%;
// }
// body {
//   background: #eee;
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   color: #000;
//   margin: 0;
//   padding: 0;
// }

.swiper {
  width: 100%;
  height: 100%;

  &-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }
  &-button {
    &-prev {
      // left: 43% !important;
    }
    &-next,
    &-prev {
      top: unset !important;
      bottom: 0;
      &::after {
        display: none;
      }
      svg {
        width: 20px !important;
      }
    }
  }
}
.slider{
  &-controls{
    max-width: 1300px;   
  }
  &-scrollbar{
    width:1300px !important;
    max-width: 1300px;
  }
}
// .swiper-slide {

// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 500px;
//   object-fit: cover;
// }

.grid-item {
  max-width: 200px;
  background-color: red;
  img {
    width: 100%;
    height: 100%;
  }
  &--width2 {
    width: 400px;
    background-color: pink;
  }
}

.slider2 {
  .swiper-slide {
    max-width: fit-content;
    background-color: green;
    // width: 80%;
			height: 200px;
    &:nth-child(2n) {
      // width:  !important;
      background-color: aqua;
    }
&-active{
  max-width: 670px;
  height: auto;
}
    &:nth-child(3n) {
      // width: 40% !important;
      background-color: black;
    }
  }
}

.tiles {
  max-width: 800px;
}
.testimonials {
  .card {
    display: grid;
    /* align-items: start; */
    /* column-gap: var(--container-gutter, 1rem); */
    /* align-content: start; */
    grid-template-columns: 1fr 1fr;
  }
  .slider3{
    .swiper-button-prev{
      left: 43% !important;
    }
  }
}
